 body{ 
    font-family:'Roboto',sans-serif;
    background-color: rgb(107, 20, 20);
    height:100%;
    

    
}
/* for practicing
#a{
    background-color: cyan;
}
.b{
    margin-top:5rem;
}
*/
/* **********   navigation ******************/
.navbar{
    background-color: hotpink;
    padding:16px 0;
    
}
.navbar-nav{
    float:right;
}
.c{
    background-color: indigo;
}
.nav-wrapper {
    padding: 0 85px 0 40px;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
    /* background-color: lime !important; */
}

/****************** section 1 ************/
#smnHome{
    height:100%;
    background-color: mediumaquamarine;
}
#smnHomeCover{
    height:100%;
    background-image: url("D:/Antony/websites/jQueryBootstrapWeb-master/img/bg.jpg");
}
.bg-parallax{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: mediumseagreen;
    /* height:100%; */
    /* width:100%; */

}
#smnHomeHeading h3{
    color:red;
    font-size:50px;
    font-weight:700;
    margin:20px 0;
    background-color:cyan;
}
#smnHomeContentBox{
    width:100%;
    height:100%;
    display:table;
    /* display:flex; */
    /* background-color: mediumorchid; */
    
}
#smnHomeContentBoxinner{
    /* display:flex; */
    display:table-cell;
    /* display:block; */
    vertical-align:middle;
    text-align:center;
    /* align-items:center; */
    /* position:relative; */
    /* margin-right:-100px; */

}
.btn-general{
    /* border:2px solid yellow; */
    border-width:5px;
    font-size:16px;
    font-weight:400;
    text-transform:uppercase;
    height:100px;
    width:100px;
    color:green;
}
.btn-white{
    border-color:pink;
    color:white;
}
/*
.d{
    color:yellow;
    margin-left:300px;
    margin-bottom:10px;

}*/

/* ************ Animation ************** */

#smnHomeCover {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-duration: .2s;
    animation-duration: 6s;
}

#smnHomeHeading {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: .7s;
    animation-duration: 7s;
}

#smnHomeBtn {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: .5s;
    animation-duration: 5s
}
.btn-general{
    border-width:2px;
    border-radius:0;
    padding:;
}